/*
 * Emigre web font kit 50aa7c4b83fcc
 * 
 * These fonts are not shareware. 
 * Use of these fonts requires the purchase 
 * of a license from Emigre, www.emigre.com  
 * Please contact sales@emigre.com
 *
 * To purchase a license to use this font go to:
 * http://www.emigre.com/fontpage.php?PTarNB.html
 *
 * © 2012 Emigre, Inc
 */


@font-face {
    font-family: 'TarzanaNarrowBoldBold';
    src: url('tarzanarbol-071211005EmigreWebOnly.eot');
    src: url('tarzanarbol-071211005EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
         url('tarzanarbol-071211005EmigreWebOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

